/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* overflow: auto; */
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

/* Modal Content/Box */
.modal-content {
  width: 32%;
  background-color: #f7f2f9;
  margin: 15% auto;
  padding: 20px;
  width: 32%;
  border-radius: 15px;
}

.modal-content p {
  color: #5b565d;
  font-size: 14px;
}

.modal-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.modal-btns button {
  padding: 10px 30px;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.modal-btns button:nth-of-type(1) {
  background: #f8f9fd;
  border: 1px solid #148c8d;
  color: #148c8d;
}
.modal-btns button:nth-of-type(2) {
  background: #148c8d;
  color: #f8f9fd;
}

.modal-btns button:hover,
.modal-btns button:focus {
  color: black;
}
